
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans|Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    
}

.navbar{

width: 100%;
max-height: 20%;
font-weight: bold;
color: black;
text-align: justify;

}


.fa-icon-inner-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    padding-right: 15px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
 
}

fa:hover {
    opacity: 0.7;

}

.fa-facebook {
  background:#AB2F27;
  color: white;
}

.navbar-text-color{
    color:#AB2F27;
}

.navbar-image{
    border-radius: 50%;
    max-height: 50%;
    padding-top: 10px;
    padding-bottom: 2px;
}

.fas .fa-phone{
    font-family: 'Roboto',sans-serif;
    text-align: left;
}

.jumbotron {
  background-color: #AB2F27;
   color: #fff;
  padding: 100px 25px;
  padding-top: 28px;
  background-image: url("../images/check.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom:1px solid ;
  position:relative;
  

  
}


.jumbo-image{
  float:right;
  size: 50%;
  position: absolute;
}

.container-fluid {
  padding: 60px 50px;
 align-content: center;
 text-align: justify;

}

.modal{
    padding-bottom: 5px;
}




.logo-small {
  color: #f4511e;
  font-size: 50px;
}

.p .lead {
    text-align: justify;
}



.logo {
  color: #f4511e;
  font-size: 200px;
}
 .container-fluid{
     
    padding: 60px 50px;
  }

.container-wrap-{
      background-color: #AB2F27;
      color: #fafafa;
}

.fa-wrench {
    content: "\f06b";
}


.fa-instagram {
  background: #AB2F27;
  color: white;
}

.btn-primary{
    background-color: #AB2F27;
    
}

.services-container {
    background-color: #AB2F27;
}

.lead {
    text-align: justify;
}

.container-wrap-red {
    
    background-color: #AB2F27;
    color: #fafafa;
}

.container-wrap-white {
    background-color: #F5F5F5;
    color: black;
    position: relative;
    text-align: center;
    padding-bottom: 2%;
}


.example-images-carousel{
    text-align: right;
}


.header-examples{
    background-color: #AB2F27;
    opacity: 1;

}

.sink-carousel{
    padding-top: 0;
    padding-bottom: 0;
    background-color: #AB2F27;
    position: relative;
    background-size: cover;
    text-align: center;
    color: #fafafa;
    object-fit: cover;
clear:none;
    }

.cracked_sink_image{
    height:600px;
    width: 420px;
}

.example-work-header{
    padding-top: 5px;
    font-family: 'Lato',sans-serif;
}

.worktop-text{
padding-top: 25px;
}

.container-customer{
     
    padding: 60px 50px;
  }


