
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: 'lato', sans-serif;
}



/** Navbar Section -------------------------------------------------------------- */

.navbar{      
    background-color: #B22222;
    top: 0;
    width: 100%;
    padding-top: 0px;
    border: 0;
    margin-bottom: 0;
    
}

.logo-image{
padding-bottom: 20%;
  

}


.navbar .navbar-brand {
    font-weight: bold;
    color: #fafafa;
    margin-bottom: 2px;
    margin-top:2px;
}
.navbar-collapse{
color:#fafafa;
}

.nav-item {
color: #fafafa;
}





