
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans|Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.navbar{

width: 100%;
max-height: 20%;
font-weight: bold;
color: black;
text-align: justify;

}

.navbar .navbar-toggler {
   
}

.fa-icon-inner-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    padding-right: 15px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
 
}

fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.navbar-text-color{
    color:red;
}

.navbar-image{
    border-radius: 50%;
    max-height: 50%;
    padding-top: 10px;
    padding-bottom: 2px;
}

.fas .fa-phone{
    font-family: 'Roboto',sans-serif;
    text-align: left;
}

.jumbotron {
  background-color: #B22222;
   color: #fff;
  padding: 100px 25px;
  padding-top: 28px;
  background-image: url("../images/check.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom:1px solid;
  position:relative;

  
}

p {
text-align: justify;
}

.jumbo-image{
  float:right;
  size: 50%;
  position: absolute;
}

.container-fluid {
  padding: 60px 50px;
 align-content: center;
 text-align: center;
}

.modal{
    padding-bottom: 5px;
}


.logo-small {
  color: #f4511e;
  font-size: 50px;
}

.logo {
  color: #f4511e;
  font-size: 200px;
}
 .container-fluid{
     
    padding: 60px 50px;
  }

.container-wrap-red{
      background-color: #B22222;
      color: #fafafa;
}

.fa-wrench {
    content: "\f06b";
}

.btn-primary{
    background-color: red;
    
}
